html {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

body #reveal .slides {
  width : 1024px;
  margin-left : -512px;
  margin-top: -420px;
  text-align: left;
}

#reveal pre {
  width: 100%;
}

#reveal pre code {
  font-size : 18px;
  line-height : 24px;
}

#reveal pre.thin {
  width: 67%;
}

#reveal .oneliner {
  padding-top : 15%;
  font-size : 1.4em;
}

#reveal .oneliner h3 {
  line-height: 1;
}

body #reveal .oneliner em {
  text-transform : uppercase;
  font-weight : bold;
}

#reveal {
  font-family: 'Oswald', sans-serif;
}

#reveal h1, 
#reveal h2,
#reveal h3,
#reveal h4 {
  font-family: 'Oswald', sans-serif;
  line-height: 1.1em;
  font-weight: bold;
  text-transform: none;
}

#reveal h1 { font-size: 100px;  }
#reveal h2 { font-size: 76px; }
#reveal h3 { font-size: 56px; }
#reveal h4 { font-size: 36px; }

#reveal img.clean {
  border: 0;
  background: none;
}

#reveal .centered {
  text-align: center;
}

#reveal em {
  color: hsl(329, 88%, 50%);
  font-style: normal;
}

#reveal blockquote {
  font-style: normal;
  line-height: 1.2em;
  padding: 40px;
  width: 85%;
}

#reveal cite {
  font-size: 50%;
  font-weight: 400;
}

#reveal p + h2, 
#reveal p + h3 {
  margin-top: 80px;
}